<section data-ng-controller="PagesController">
    <section class="">
        <div class="page-header">
            <h1>Deinen Boden teilen.</h1>
        </div>
        <h4>Wie fange ich an?</h4>
        <p>Hier sind die Schritte, welche dich zu einem erfolgreichen Garten-Teiler machen:</p>
        <ol>
            <li>Werde Mitglied von aradira indem du dich <a href="/#!/signup">registrierst</a> (aradira ist und bleibt gratis, warum siehst du <a href="/#!/idee">hier</a>).</li>
            <li>Nachdem du dich angemeldet hast, füllst du dein <a href="/#!/profil">Profil</a> aus.</li>
            <li>Erstelle ein Inserat um deinen <a href="/#!/boden/teilen">Boden zu teilen</a><br/>
                ODER<br/>
                Schaue dir die <a href="/#!/gesuche">Inserate</a> von den Leuten an, welche Boden suchen.
            </li>
            <li>Lass dich kontaktieren oder nimm Kontakt mit potentiellen Gärtnern auf.</li>
            <li>Sobald ihr euch gefunden habt, trefft ihr euch am besten im Garten und trefft ihr zusammen eine mündliche oder
                <a href="/#!/mustervereinbarungen">schriftliche</a> Vereinbarung, in welcher ihr Nutzungszeiten, die Art der Gegenleistung etc. bestimmt.
            </li>
        </ol>
        <h4 class="top-buffer">Wie funktioniert das genau?</h4>
        <p>
            Du hast einen Garten, den du nicht oder zu wenig nutzt? Finde einen Gärtner: Du stellst ihm deinen ungenutzten Boden zur Verfügung oder teilst ihn mit ihm.
            Du erhälst dafür eine Gegenleistung: Zum Beispiel frische Tomaten,
            gärtnerischer Erfahrungsaustausch, einen schönes Gemüsebeet oder ein nettes Gespräch.
        </p>
        <p>
            Als erstes erstellst du ein Inserat auf dieser Webseite, wo du deinen Boden  oder Garten beschreibst. Sobald dein Inserat online ist,
            können sich interessierte Gastgärtner darauf bewerben.
            Die Kommunikation erfolgt über diese Webseite. Du entscheidest dich, wen du als Gärtner wählst.
        </p>
        <h6 class="top-buffer">Vereinbarungen</h6>
        <p>Sobald ihr euch gefunden habt, trefft ihr mündlich oder schriftlich eine Vereinbarung. Für die schriftliche Variante,
            haben wir <a href="/#!/mustervereinbarungen">Mustervereinbarungen</a> bereitgestellt. Einige Beispiele:</p>
        <ul>
            <li>Nutzt ihr den Garten zusammen oder wird der Garten nur vom Gastgärtner genutzt?</li>
            <li>Gibt es einen oder mehrere Gastgärtner?</li>
            <li>Was wird angepflanzt?</li>
            <li>Was sind die Nutzungszeiten?</li>
            <li>Darf der Gartenplatz und der Grill verwendet werden?</li>
        </ul>

        <h6 class="top-buffer">Gegenleistungen</h6>
        <p>Du verlangst für den Boden keine finanzielle Entschädigung - die Idee dieser Seite ist der Tausch -
            aber du hast Anspruch auf eine <strong>Gegenleistung</strong>. Seid kreativ! Hier einige Beispiele:</p>
        <ul>
            <li>Du erhälst neues Gärtner-Know-How durch Erfahrungsaustausch</li>
            <li>Du erhälst einen Teil der Ernte</li>
            <li>Du wirst zum Znacht eingeladen</li>
            <li>Dein Garten sieht schöner aus (vielleicht ist dir das Gegenleistung genug)</li>
            <li>Du gehst zu deinem Gärtner in den Gitarrenunterricht</li>
        </ul>
        <h4 class="top-buffer">Was spricht für das Garten teilen?</h4>
        <p>Es gibt viele Gründe, welche für das Garten teilen sprechen:</p>
        <ul>
            <li>Wenn du deinen Garten selbst nicht nutzt, wirst du Freude daran haben, wie er aufblüht</li>
            <li>Wenn du deinen Garten nur teilweise nutzt, kannst du von der Erfahrung anderer profitieren</li>
            <li>Ihr könnt euch die Arbeit teilen, so wird der Garten auch gepflegt, wenn jemand in den Ferien ist</li>
            <li>Ihr könnt die oft üppige Ernte teilen</li>
        </ul>
        <a class="top-buffer btn btn-primary btn-block btn-hg" href="/#!/signup">Jetzt registrieren und Boden teilen</a>
    </section>
</section>