<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h3 class="footer-title">Über uns</h3>
            <p>Die Idee von Aradira entstand in Bern bei einer WG-Diskussion über Gemeinschaftsgärten und beruht auf dem Prinzip des Teilens. Deshalb verzichten wir auf dieser Webseite auf Profit.<br/><br/>
                Wenn du Ideen oder Anregungen hast, kontaktiere uns über Facebook oder schreibe uns eine Mail an: <a href="info@aradira.ch" target="_blank">info@aradira.ch</a>
            </p>

            <!--<p class="pvl">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://designmodo.com/flat-free/" data-text="Flat UI Free - PSD&amp;amp;HTML User Interface Kit" data-via="designmodo">TODO: Share</a>
            </p>-->

            <div><a href="/#!/"><i class="fa fa-leaf"></i>&nbsp; aradira.ch</a> wurde mit Liebe konzipiert und biologisch aufgezogen von <a href="https://github.com/nomaad">nomaad</a>.</div>
        </div> <!-- /col-xs-7 -->

        <div class="col-md-5 hidden-sm hidden-xs">
            <div class="footer-banner">
                <h3 class="footer-title">Folge uns</h3>
                <ul>
                    <li><i class="fa fa-facebook"></i>&nbsp; Like uns auf <a href="http://www.facebook.com/aradira"> Facebook</a></li>
                    <li><i class="fa fa-twitter"></i>&nbsp; Folge uns auf <a href="http://www.twitter.com/aradira"> Twitter</a></li>
                    <li><i class="fa fa-github"></i>&nbsp; Forke diese App auf <a href="http://www.facebook.com/aradira"> Github</a></li>
                </ul>
                <!--Go to: <a href="http://designmodo.com/flat" target="_blank">designmodo.com/flat</a>-->
            </div>
        </div>
    </div>
</div>