<section class="row" data-ng-controller="AuthenticationController">
    <div class="col-xs-12 col-md-offset-4 col-md-4 top-buffer">
        <h2>Jetzt mitmachen.</h2>
        <form data-ng-submit="signup()" class="signin form-horizontal" autocomplete="off">
            <div class="login-form">
                <div><small>Melde dich an und finde oder teile einen Garten. Du kannst dich über ein Social-Network anmelden:</small></div>
                <a href="/auth/facebook" class="undecorated-link">
                    <img src="/modules/users/img/buttons/facebook_small.png">
                </a>
                <a href="/auth/twitter" class="undecorated-link">
                    <img src="/modules/users/img/buttons/twitter_small.png">
                </a>
                <a href="/auth/google" class="undecorated-link">
                    <img src="/modules/users/img/buttons/google_small.png">
                </a>
                <hr/>
                <p><small>Oder registriere dich mit folgenden Angaben:</small></p>
                <div class="form-group">
                    <input type="text" id="firstName" name="firstName"  class="form-control login-field" data-ng-model="credentials.firstName" placeholder="Vorname" />
                </div>
                <div class="form-group">
                    <input type="text" id="lastName" name="lastName"  class="form-control login-field" data-ng-model="credentials.lastName" placeholder="Nachname" />
                </div>
                <div class="form-group">
                    <input type="text" id="email" name="email"  class="form-control login-field" data-ng-model="credentials.email" placeholder="Email" />
                </div>
                <div class="form-group">
                    <input type="text" id="username" name="username"  class="form-control login-field" data-ng-model="credentials.username" placeholder="Benutzername" />
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" class="form-control login-field" data-ng-model="credentials.password" placeholder="Passwort" />
                </div>

                <button type="submit" class="btn btn-primary btn-lg btn-block">Registrieren</button>
                <a class="login-link" href="/#!/signin">Bereits Mitglied? Hier anmelden.</a>
                <div data-ng-show="error" class="text-center text-danger">
                    <small>{{error}}</small>
                </div>
            </div>
        </form>
    </div>
</section>