<section data-ng-controller="OffersController">
    <div class="page-header">
        <h1>Angebote</h1>
    </div>
    <div class="pull-right">
        <div class="input-group input-group-rounded search-bar">
                    <span class="input-group-btn">
                      <button type="submit" class="btn"><span class="fui-search"></span></button>
                    </span>
            <input ui-keypress="{enter: 'changePlace()'}" type="text" class="form-control search-input" placeholder="Adresse/PLZ/Ort" id="search" ng-model="city">
        </div>
    </div>
    <div class="pull-right">
        <select ng-model="distance" ng-options="d.name for d in distances" ng-change="changeDistance()"></select>
    </div>
    <tabset>
        <tab>
            <tab-heading>
                <i class="fa fa-map-marker"></i> Karte
            </tab-heading>
            <leaflet markers="markers" center="cen" paths="paths" height="600px"></leaflet>
        </tab>
        <tab>
            <tab-heading>
                <i class="fa fa-list-ul"></i> Liste
            </tab-heading>
            <div class="list-group">
                <a ng-animate="'animate'" data-ng-repeat="offer in offers" data-ng-href="#!/angebote/{{offer._id}}" class="list-group-item">
                    <small class="list-group-item-text">{{offer.created | date:'medium'}} / {{offer.user.displayName}}</small>
                    <h4 class="list-group-item-heading">{{offer.title}}</h4>
                    <p class="list-group-item-text">{{offer.description}}</p>
                </a>
            </div>
        </tab>
    </tabset>
    <code>{{data}}</code>
    <div class="alert alert-warning text-center" data-ng-hide="!offers || offers.length">
    	Noch keine Angebote in {{city}}, warum <a href="/#!/angebote/neu">erstellst</a> du nicht eines?
    </div>
    <script type="text/ng-template" id="offerDetails.html">
        <div class="modal-header">
            <h2>{{offer.title}}</h2>
        </div>
        <div class="modal-body">
            <div class="row lead">
                <div class="col-xs-3">
                    <b>Grösse:</b><br/> {{offer.width}} x {{offer.height}} m
                </div>
                <div class="col-xs-3">
                    <b>PLZ & Ort:</b><br/> {{(offer.geoInfo.zipcode ? offer.geoInfo.zipcode + ' ' : '')}} {{offer.geoInfo.city}}
                </div>
                <div class="col-xs-3">
                    <b>Gemeinschaftlich:</b><br/> <i ng-show="offer.communal" class="fa fa-check-square-o"></i><span ng-hide="offer.communal">nein</span>
                </div>
                <div class="col-xs-3" ng-show="offer.communal">
                    <b>Anzahl Plätze:</b><br/>{{offer.slots === 0 ? 'unbegrenzt' : offer.slots}}
                </div>
            </div>
            <p>
                {{offer.description}}
            </p>
            <small class="pull-right">
                <em class="text-muted">Erstellt am {{offer.created | date:'mediumDate'}} von {{offer.user.displayName}}</em>
            </small>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="close()">Schliessen</button>
        </div>
    </script>
</section>